// New magazine-style home page
body.home-page {
	#primary {
		img { 
			}
		#top-story {
			// background-color: #FAB;
			// margin-bottom: 0;
			// border-bottom: 1px solid @graylight;
			img { 
				// margin-bottom: 8px;
				// margin-bottom: .6rem;
				width:60%;
				float: left;
				margin-right: 2em;
				margin-bottom: 2em;

			}		
			h2 {
				width: 36%;
				float: left;
				clear: none;
				// .font-size(1.4);
				a { 
					// text-decoration: none; 
				}
				
			}
		}
		.story-row {
			border-bottom: none;
			&:after { 
				clear: none;
			}
			&:before, &:after { 
				display: table;
				content: ""; 
			}

		.story-block {
			// margin-bottom: 24px;
			// margin-bottom: 1.7rem;
			border-bottom: none;
			margin-right: 2%;
			margin-left: 2%;
		    width: 21%;
		    float: left;
		    // &:nth-child(even) {
		    // 	clear:left;
		    // }

		}
		}
	}
}