// Group and User nav
// Twitter Bootstrap nav tabs
.site #secondary {
	.item-list-tabs ul,
	.nav-pills {
	  	*zoom: 1;
	  	&:before, &:after {
			display: table;
			content: "";
			line-height: 0;
	  	}
	  	&:after {
	  		clear: both;
	  	}
	  	li {
	  		float: left;
	  		a {	
	  			display: block;
	  			padding-right: 8px;
				padding-left: 8px;
				margin-right: 2px;
				line-height: 20px;
	  		}
	  	}
	}
	.item-list-tabs {
		border-bottom: 0;
		ul {
	  	border-bottom: 1px solid @graymid;
	  	margin-bottom: 0;
		  	li {
			  	margin: 0 3px -1px 0;
			  	a {
			  		padding-top: 8px;
		  			padding-bottom: 8px;
		  			// line-height: 20px;
				  	border: 1px solid @graylight;
				  	border-top: 4px solid @graylight;
				  	background-color: lighten( @graylight, 8% );
				  	border-bottom-color: @graymid;
				  	// .gradient( lighten( @graylight, 10% ), lighten( @graylight, 5% ) );
					.border-radius-variable(4px, 4px, 0, 0);
					&:hover {
						border-color: @ccgreen @graymid @graymid;
					}
			  	}
			  	&.selected, &.current, &.current-menu-item {
			  		a, a:hover {
			  			color: @graydark;
						background: @white;
						// .gradient( @white, @white );
		    		    text-shadow: none;
						border: 1px solid @graymid;
						border-top: 4px solid @ccblue;
						border-bottom-color: transparent;
						cursor: default;
			  		}
			  	}
		  	}
		}
	}
	// .item-list-tabs ul:before,
	// .nav-pills:before,
	// .item-list-tabs ul:after,
	// .nav-pills:after {
	//   display: table;
	//   content: "";
	//   line-height: 0;
	// }
	// .item-list-tabs ul:after,
	// .nav-pills:after {
	//   clear: both;
	// }
	// .item-list-tabs ul > li,
	// .nav-pills > li {
	//   float: left;
	// }
	// .item-list-tabs ul > li > a,
	// .nav-pills > li > a {
	//   padding-right: 12px;
	//   padding-left: 12px;
	//   margin-right: 2px;
	//   line-height: 14px;
	// }
	// .item-list-tabs ul {
	//   border-bottom: 1px solid @graymid;
	//   margin-bottom: 0;
	// }
	// .item-list-tabs ul > li {
	//   margin-bottom: -1px;
	//   margin-left: 0;
	// }
	// .item-list-tabs ul > li > a {
	//   padding-top: 8px;
	//   padding-bottom: 8px;
	//   line-height: 20px;
	//   border: 1px solid transparent;
	//   -webkit-border-radius: 4px 4px 0 0;
	//   -moz-border-radius: 4px 4px 0 0;
	//   border-radius: 4px 4px 0 0;
	// }
	// .item-list-tabs ul > li > a:hover {
	//   border-color: @graylight @graylight @graymid;
	// }
	// .item-list-tabs ul > .selected > a,
	// .item-list-tabs ul > .current > a,
	// .item-list-tabs ul > .selected > a:hover,
	// .item-list-tabs ul > .current > a:hover {
	//   color: @graydark;
	//   background-color: @white;
	//   border: 1px solid @graymid;
	//   border-top: 4px solid @ccblue;
	//   border-bottom-color: transparent;
	//   cursor: default;
	// }
}

.content-row {
			border-bottom: none;
			&:after { 
				// clear: none;
			}
			&:before, &:after { 
				display: table;
				content: ""; 
			}
		}

.quarter-block {
	margin-right: 2%;
	margin-left: 2%;
    width: 21.9%;
    &:nth-of-type(odd) {
		clear: none;
		margin-left: 2%;
	}
	&:nth-of-type(even) {
		margin-right: 2%;
	}
    &:nth-of-type(4n+1) {
		clear: left;
		margin-left: 0;
	}
	&:nth-of-type(4n) {
		margin-right: 0;
	}
    &.button { 
		margin-right: 1.8%;
		margin-left: 1.8%;
		width:19%; 
	}
}

//Directory lists
// ul.item-list {
// }

// ul.item-list li { 
// }
// ul.item-list div.item-avatar {
// }

ul.item-list div.item {
	width: 65%;
}
ul.item-list div.action {
	float: right;
	width: 20%;
	margin-left: 0;
}
//Some craziness for deep nested groups.
// ul.item-list div.item .subitem .item {
// 	width:100%;

// }



//Maps & Data page content
.maps-data #primary #content {
	article {
	// margin-bottom: 24;
	// margin-bottom: 1.7rem;
	// padding-bottom: 0;
	}
	.quicklinks {
		// margin-bottom: 24;
		// margin-bottom: 1.7rem;
		li {
			// margin-bottom: 10px;
			// position: relative;
			// padding-bottom: 0;
			a{
				// .font-size(1.2);
				// padding-left: 65px;
				// text-align: left;
				// line-height: 40px;
				// display: inline-block;
				// width: 94%;
				span {
					// display: block;
					// float: left;
					// margin-right: 4%;
					// background: url(img/sprites.png) no-repeat;
					// width: 40px;
					// height: 40px;
					&.map {
						// background-position: -80px 0;
					}
					&.report {
						// background-position: -80px -175px ;
					}
					&.collaboration {
						// background-position: -75px -85px ;
					}
				}
			}
		}
	}
	.choose-tool{
		border-bottom: none;
		padding-bottom:0;
		h2 {
			.font-size(1.6);
			// font-weight: normal;
		}
		li {
			margin-left: 58px;
		}
		h5 {
			// display: inline;
		}
		a {
			// float:right;
			// margin-top: 6px;
		}
		p {
			// line-height: 1.4;
		}
		span {
					// display: block;
					// float: left;
					// margin-right: 4%;
					// position: absolute;
					// left:0;
					// top: 0;
					// margin-top: -30px;
					// background: url(img/sprites.png) no-repeat;
					width: 40px;
					height: 40px;
					&.map {
						background-position: -80px 0;
					}
					&.report {
						background-position: -80px -175px ;
					}
					&.collaboration {
						background-position: -75px -85px ;
					}

				}
	}
	.data-vis-tool {
		.entry-header {
			span {
				// display: block;
				// float: left;
				// margin-right: 12px;
			}
			h3 {
				// float: left;
				// clear: none;
				// margin-top: 0;
				// margin-bottom: 0;
				width: 80%;
			}
		}
	}
}

//Salud America
.salud-america {
	.salud-header {
		.logo {
			top: 5px;
			// left: -19px;
			// display: inline-block;
			width: 16%;
		}
		.sa-kids-photo {
			// right:-12px;
			top: -28px;
			width: 32%;
		}
	}
	#content {
		.sa-resource-header-icon {
			// background-color: transparent;
			span {
			  // bottom: 0;
			  // .font-size(1.1);
			  // font-weight: bold;
			}
			img {
				// display: block;
			}
		}
		// .related-policies {
		// 	width: 68%;
		// 	float: left;
		// }
		// .related-items-sidebar {
		// 	display: block;
		// 	width: 25%; 
		// 	float:right; 
		// 	background-color: lighten( @graylight, 5);
		// 	h3 {
		// 		margin-top: 0;
		// 	}
		// }
	}
}
.tax-sa_advocacy_targets {
	.advocacy_target_introduction {
		// .video-container {
		// 	width: 45%;
		// 	margin-left: 5%;
		// 	float: right;
		// 	padding-bottom: 36%;
		// }
	}
}

.video-container {
	width: 45%;
	margin-left: 5%;
	float: right;
	padding-bottom: 21%;
}
#content .video-container-group {
	float: right;
	width: 45%;
	margin-left: 5%;
	margin-bottom: 1.7em;
	.video-container {
		width: 100%;
		padding-bottom: 47%;
		// margin-bottom: .5em;
	}
}