.widget-area {
	margin-top: 2em;
}
//Headers
.site-content {
	#screamer {
		h1 {
		.font-size(1.2);
		}
	}
	.screamer {
		.font-size(1.4);
		&.spacious {
			padding: 0.8em 1em;
		}
	}
}
//Posts display
.entry-header .entry-title, .archive-header .archive-title {
	.font-size(1.6);
}
// Compact article display for blog/category pages.
article.compact {
	img {
		float: right;
		margin-left: 1em;
	}
	h1, h2 {
		clear: none;
	}
}
//Category archive header
.archive-header {
	.archive-title {
		.font-size(1.6);
	}
}

//Maps & Data page content
.maps-data {
	#jumplinks {
		border-top: 1px solid @ccblue;
		padding-top: 12px;
	}
	.choose-tool{
		border-bottom: none;
		padding-bottom:0;
		margin-top: 0;
	}
}
// Block layouts
.flex600 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}
.third-block {
		// margin-bottom: 24px;
		// margin-bottom: 1.7rem;
		border-bottom: none;
		margin-right: 2%;
		margin-left: 2%;
	    width: 30.5%;
	    float: left;
	    &:nth-of-type(3n+1) {
			clear: left;
			margin-left: 0;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
		}
		&.flex {
		}
	}
.third-block.spans-2 {
    width: 63.5%;
}
.third-block {
	// margin-right: 2%;
	// margin-left: 2%;
 //    width: 21.9%;
 //    &:nth-of-type(odd) {
	// 	clear: none;
	// 	margin-left: 2%;
	// }
	// &:nth-of-type(even) {
	// 	margin-right: 2%;
	// }
 //    &:nth-of-type(4n+1) {
	// 	clear: left;
	// 	margin-left: 0;
	// }
	// &:nth-of-type(4n) {
	// 	margin-right: 0;
	// }
 //    &.button {
	// 	margin-right: 1.8%;
	// 	margin-left: 1.8%;
	// 	width:19%;
	// }
	&.screamer {
		width: 28.5%;
	}
	// &.table-cell {
	// 	display: table-cell;
	// 	margin-left: 0;
	// 	margin-right: 0;
	// 	border: 10px solid white;
	// 	width: 20%;
	// 	float: none;
	// 	&.vertical-centered {
	// 		vertical-align: middle;
	// 	}
	// }
}
.half-block {
	border-bottom: none;
	margin-right: 3%;
	margin-left: 3%;
    width: 45.9%;
    float: left;
	&:nth-of-type(odd) {
		clear:left;
		margin-left: 0;
	}
	&:nth-of-type(even) {
		margin-right: 0;
	}
	&.screamer {
		width: 44.5%
	}
}

// Plugin styling
// bbPress styling overrides
#bbpress-forums {
	.bbp-template-notice.info {
		p {
			.font-size(.9);
		}
	}
	li.bbp-header, li.bbp-footer {
		.font-size(1);
		#subscription-toggle, #favorite-toggle {
		}
	}
	li.bbp-body {
		.bbp-topic-title {
			.font-size(.9);
		}
		.bbp-topic-voice-count,
		.bbp-topic-reply-count {
			.font-size(.9);
			line-height: 3;
			span {
				padding: 3px 8px;
			}
		}
	}
}

.ncr, .ebw {
	#primary #content {
		.third-block {
			margin-bottom: 0;
			padding-bottom: 0;
			.entry-header {
				// margin-bottom: 0;
			}
		}
	}
}

// Styles for progress tracker
ol.progtrckr.narrow {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		text-align: center;
		flex: 1;
		margin-bottom: 0;
		&:before {
			bottom: -13px;
			float: right;
			margin-right: 0;
		}
		&.progtrckr-done {
			border-bottom: 4px solid yellowgreen;
		}
		&.progtrckr-todo {
			border-bottom: 4px solid silver;
		}
	}
}

