/* Main navigation
*******************/
.primary-navigation {
  z-index: 103;
}
.primary-navigation .links {
  float: left;
  margin-left: 12px;
  margin-top: 0;
}
.primary-navigation .nav-container {
  clear: none;
  display: block;
  overflow: visible;
}
.primary-navigation ul {
  width: auto;
}
.primary-navigation ul li {
  float: left;
  margin: 0;
}
.primary-navigation ul li.current-menu-item {
  font-weight: 700;
  margin-bottom: -8px;
  padding-bottom: 8px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.primary-navigation ul li a,
.primary-navigation ul li span {
  color: #ffffff;
  padding: 0 1em;
  line-height: 3.2;
  text-transform: none;
  width: auto;
}
.primary-navigation #cc-primary-search {
  display: inline-block;
  margin-top: 4px;
}
.primary-navigation .menu-toggler {
  display: none;
}
.primary-navigation .menu-item-members {
  border-left: none;
  border-top: solid 6px #f7b718;
}
.primary-navigation .menu-item-groups {
  border-left: none;
  border-top: solid 6px #df5927;
}
.primary-navigation .menu-item-data-vis {
  border-left: none;
  border-top: solid 6px #008eaa;
}
.primary-navigation .secondary {
  float: right;
  margin: 5px 7px 0 0;
  border-top: none;
}
.primary-navigation .secondary li {
  float: right;
  position: relative;
  width: auto;
  margin: 0;
}
.primary-navigation .secondary li a {
  color: #ffffff;
  line-height: 3;
}
.primary-navigation .secondary .bp-notifications {
  clear: none;
  float: right;
}
.primary-navigation .secondary .bp-notifications span {
  display: inline-block;
}
.primary-navigation .secondary .bp-notifications h5 {
  display: none;
}
.primary-navigation .secondary .bp-notifications li {
  margin: 0;
}
.primary-navigation .secondary #login-item {
  overflow: visible;
}
.primary-navigation .secondary #login-item.toggled {
  background-color: #706969;
}
.primary-navigation .secondary #login-item .login-link {
  display: block;
}
.primary-navigation .secondary #login-item .pop-sub-wrapper {
  display: none;
  min-width: 20em;
  margin: 0px 0 0 -1px;
  padding: 6px 0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  position: absolute;
  float: none;
  right: 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #dfdfdf;
  z-index: 999;
  color: #aaaaaa;
}
.primary-navigation .secondary #login-item .pop-sub-wrapper #cancel-login {
  display: inline-block;
}
.primary-navigation .secondary #login-item .pop-sub-wrapper.toggled {
  display: inline-block;
}
.primary-navigation .secondary .menupop .pop-sub-wrapper {
  display: none;
  min-width: 20em;
  margin: 26px 0 0 -1px;
  padding: 6px 0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  position: absolute;
  float: none;
  right: 0;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #dfdfdf;
  z-index: 999;
  color: #aaaaaa;
}
.primary-navigation .secondary .menupop .pop-sub-wrapper ul li {
  float: left;
  width: 98%;
  padding-left: 2%;
}
.primary-navigation .secondary .menupop .pop-sub-wrapper ul li:hover {
  background-color: #e6f4f7;
}
.primary-navigation .secondary .menupop .pop-sub-wrapper ul a {
  color: #008eaa;
  line-height: 1.4;
  padding: 2% 2% 2% 0;
  width: 95.99%;
}
.primary-navigation .secondary .menupop:hover {
  background-color: #706969;
}
.primary-navigation .secondary .menupop:hover .pop-sub-wrapper {
  display: inline-block;
  right: -1px;
  top: 12px;
}
.primary-navigation .secondary .menupop:hover .pop-sub-wrapper a {
  margin: 0;
}
.alt:nth-child(odd) {
  background-color: #f1f9fa;
}
