@import "less-mixins";

// SA means Salud America
@import "sa-default";
// BP means BuddyPress
@import "bp-default";
@import "default";

@import "400"; 

@import "sa-600";
@import "600";

@import "700";

@import "sa-800";
@import "bp-800";
@import "800"; 

@import "sa-1000";
@import "1000";

@import "navigation-base";
@import "navigation-400";
@import "navigation-800";

//IE fixes

.ie8, .ie7 {
	input[type="password"] {
	    font-family: Arial;
	}
	.site {
		width:960px;
		margin-top: 48px;
		margin-left: auto;
		margin-right: auto;
	}
	// Set widths for column blocks, since our normal widths assume some nth-of-type selectors
	.half-block {
		width: 40.9%;
	}
	.third-block {
		width: 28.9%;
	}
	.quarter-block {
		width: 20.9%;
	}
	// Image fixes -- IE8 and below don't like max-width
	img.wp-post-image, .entry-content img, .comment-content img, .widget img {
		width: inherit;
	}
}
// Styles for main nav bar search input
.ie7 {
	.screen-reader-text {
		top: -9999em;
	}
	.primary-search-toggler > .searchx18 {
		margin-top: 10px;
	}
	.primary-navigation {
		.nav-container .expanding-search .cc-nav-input {
			width: 84%;
		}
		.accessible-menu .sub-nav .sub-nav-group a {
		    height: 1.4em;
		    color: #FFFFFF !important;
		    z-index: 1010;
		}
	}
	.content-row {
		clear: both;
	}
}

//hasLayout hack for IE7
body.home-page #primary #top-story { height:1%; }
//TODO: overrides for half-block, etc.