@import "less-mixins";

@import "default";

@import "400"; 

@import "600";

@import "700";

@import "800"; 

@import "1000";

//IE fixes
.ie8, .ie7 {
	.primary-navigation .secondary .bp-notifications .bp-notification-list {
		margin-top:12px;
	}
	input[type="password"] {
	    font-family: Arial;
	}
	// .widget img {width:100%;}
}
.ie7 #cc-primary-search #cc-navbar-search .cc-nav-input {
	background-color: @white;
	}
//hasLayout hack for IE7
body.home-page #primary #top-story { height:1%; }