/* 
    Document   : wkkf
    Created on : Jun 26, 2013, 2:17:21 PM
    Author     : athertonk
    Description:
        Purpose of the stylesheet follows.

primary colors
orange: f8971d (logo: f89781d)
gray: 919195
black: 000000
secondary colors
magenta: db0962
violet: 716fb3
lime green: a0cf67
cerulean: 42c4dd
grass green 5e9732
marigold: fdbb30
blue: 0081c6
*/

/* ----- html elements ----- */
* {margin:0;padding:0;}
root { display: block;}

/* ----- by class ----- */
.display-none {display:none;}
.width-full{ width: 100%; }
.height-full{ height: 100%; }
.height-half{ height: 50%; }
.main { z-index: 1; clear: both; min-height: 400px;}
.page-holder-image { width: 100%; }
.location-text{ font-size: 1.5em;}
.location-thumbnail { border-top: 2px #f8971d solid;border-bottom: 2px #f8971d solid;}
.nav-arrow { font-size: 1.5em;}

.header { width: 100%; height: 86px;  background-color: #f8971d;  }
.header .outer {height: 86px;width: 960px;}
.outer { overflow: hidden;display: table; position: relative; }
.middle {display: table-cell; vertical-align: middle;   position: relative; }
.nav-section.inner { text-align: right; }

.popup {position: absolute; background-color: #fdbb30; padding: 5px;z-index: 100; }
.popup-nav-loc {  top: 80px; left: 0; }
.popup-nav-page { top: 80px; right: 0;  }

/* <!-- http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm */
/* column container */
.colmask { position:relative; /* This fixes the IE7 overflow hidden bug */ clear:both; float:left; width:100%;   /* width of whole page */
 /* overflow:hidden;  This chops off any overhanging divs */ }
/* common column settings */
.colright,.colmid,.colleft { float:left; width:100%;   /* width of page */ position:relative;}
.col1,.col2,.col3 { float:left; position:relative; /*overflow:hidden;*/
 padding:0 0 0 0; /* no left and right padding on columns, we just make them narrower instead 
     only padding top and bottom is included here, make it whatever value you need */ }

/* 3 Column settings for 15/25/60% */
.threecol { }
.threecol .colmid {
 right:60%;   /* width of the right column */ }
.threecol .colleft {
 right:25%;   /* width of the middle column */ }
.threecol .col1 {
 width:21%;   /* width of center column content (column width minus padding on either side) */
 left:102%;   /* 100% plus left padding of center column */ }
.threecol .col2 {
 width:11%;   /* Width of left column content (column width minus padding on either side) */
 left:66%;   /* width of (right column) plus (center column left and right padding) plus (left column left padding) */ }
.threecol .col3 {
 width:56%;   /* Width of right column content (column width minus padding on either side) */
 left:95%;   /* Please make note of the brackets here:
     (100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */ }
/* --> */

/* See more at: http://www.handy-html.com/create-a-simple-css-dropdown-menu/#sthash.caETQh3G.dpuf */
ul { margin: 0; padding: 0; list-style: none;}
ul li {display: block;position: relative;float: left;}
li ul {display: none;}
ul li a {display: block;text-decoration: none;padding: 5px 15px 5px 15px;
/*border-top: 1px solid #ffffff;background: #1e7c9a;*/margin-left: 1px;white-space: nowrap;}
ul li a:hover {/*background: #3b3b3b;*/}
li:hover ul {display: block;position: absolute;}
li:hover li {float: none;}
li:hover a { background: /*#3b3b3b;*/ }
li:hover li a:hover {/*background: #1e7c9a;*/}

/*------------------------------------*\
    NAV   --- from CA4Health
\*------------------------------------*/
.nav-container {  width:100%;background-color: #FFC222;   text-align:center; margin: 0 auto;}
#nav-primary{    float:left; font-size:1.4rem; }
#nav-secondary{    float:right; font-size:1.2rem; }
#nav-primary, #nav-secondary{    list-style:none;}
#nav-primary li{    float:left;}
#nav-secondary li{    float:right;}
#nav-primary li,#nav-secondary li{    margin-right:0px;    position:relative;}
#nav-primary .first-li a,#nav-secondary .first-li a{  border-left: 1px solid #0057A7;}
#nav-primary .first-dd a,#nav-secondary .first-dd a{  border: 1px solid #0057A7;}
#nav-primary a,#nav-secondary a{  border-right: 1px solid #0057A7;}
#nav-primary a,#nav-secondary a{
  display:block;
  padding:5px;
  color:#fff;
  text-decoration:none;
  background: -moz-linear-gradient(top, #F58233 5%, #FFC222 100%);  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #F58233), color-stop(100%, #FFC222));  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F58233 5%, #FFC222 100%);  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F58233 5%, #FFC222 100%);  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F58233 5%, #FFC222 100%);  /* IE10+ */
  background: linear-gradient(top, #F58233 5%, #FFC222 100%);  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#F58233', endColorstr='#FFC222', GradientType=0);  /* IE6-9 */
}
#nav-primary a:hover,#nav-secondary a:hover{
  color:#fff;
  /* Old browsers */   /* #3e423f; orig gradient #575c58; */  
  background: -moz-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0057A7), color-stop(100%, #448fc6));  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* IE10+ */
  background: linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0057A7', endColorstr='#448fc6', GradientType=0);  /* IE6-9 */
}

/*--- DROPDOWN ---*/
#nav-primary ul,#nav-secondary ul{
    background:#FFC222; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    /*background:rgba(255,255,255,0);  But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav-primary ul li,#nav-secondary ul li{
    /*padding-top:1px;  Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav-primary ul a,#nav-secondary ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav-primary li:hover ul,#nav-secondary li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav-primary li:hover a,#nav-secondary li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    /*background:#FFC222;*/
}
#nav-primary li:hover ul a,#nav-secondary li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav-primary li:hover ul a:hover,#nav-secondary li:hover ul a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
  /* Old browsers */   /* #3e423f; orig gradient #575c58; */  
  background: -moz-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0057A7), color-stop(100%, #448fc6));  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* IE10+ */
  background: linear-gradient(top, #0057A7 5%, #448fc6 100%);  /* W3C */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0057A7', endColorstr='#448fc6', GradientType=0);  /* IE6-9 */
}
div.chartyear
{
  padding: 5px;  
  font-family: 'Times New Roman',Times,serif;
width: 950px;
display: block;

}
div.chartboxparent
{

border: 1px solid #402607;
height: 650px;
padding: 5px;
}
div.chartboxparent_spacer
{

width: 950px;
height: 330px;
padding-top: 5px;
padding-bottom: 5px;
  float: left; 
}
div.chartbox {
background: #E6E6E6;
 width: 290px;
 height: 290px;
  text-align: left;
  border: 1px solid #402607;
  font: 12px Arial;
  padding: 5px;
  margin:0px;
  float: left;  
}
div.chartbox_bot {
background: #E6E6E6;
 width: 290px;
 height: 290px;
  text-align: left;
  border: 1px solid #402607;
  font: 12px Arial;
  padding: 5px;
  margin:0px;
  float: left;  
}
div.chartbox_spacer {

 width: 2px;
 height: 2px;
  text-align: left;
  border: 0px solid #402607;
  font: 12px Arial;
  padding: 5px;
  margin:0px;
      float: left;  
}