.facebookx60, .searchx18, .twitterx60, .facebookx24, .facebookx30, .gplusx30, .twitterx30, .gplusx24, .twitterx24, .userx18, .userx21, .linkedinx24, .emailx24{
	background: url(sprites.png) no-repeat;
}

.facebookx60{
	background-position: 0 -150px ;
	width: 60px;
	height: 60px;
}

.searchx18{
	background-position: 0 -350px ;
	width: 18px;
	height: 18px;
}

.twitterx60{
	background-position: 0 -250px ;
	width: 60px;
	height: 60px;
}

.facebookx24{
	background-position: 0 -380px ;
	width: 24px;
	height: 24px;
}

.facebookx30{
	background-position: 0 0;
	width: 30px;
	height: 30px;
}

.gplusx30{
	background-position: 0 -50px ;
	width: 30px;
	height: 30px;
}

.twitterx30{
	background-position: 0 -100px ;
	width: 30px;
	height: 30px;
}

.gplusx24{
	background-position: 0 -412px ;
	width: 24px;
	height: 24px;
}

.twitterx24{
	background-position: 0 -440px ;
	width: 24px;
	height: 24px;
}

.userx18{
	background-position: 0 -320px ;
	width: 18px;
	height: 18px;
}

.userx21{
	background-position: -34px -318px ;
	width: 21px;
	height: 21px;
}

.linkedinx24{
	background-position: 0 -470px ;
	width: 24px;
	height: 24px;
}

.emailx24{
	background-position: 0 -500px ;
	width: 24px;
	height: 24px;
}

